body
{
	background-color: white;
}

a.no-underline
{
	text-decoration: none;
}

.swimlane-container-card
{
	background-color: white;
	box-shadow: 0px 0px 10px 0px rgba(156,39,176,0.5);
	padding: 15px;
}

.swimlane-card-title
{
	margin-top: 0;
}

.swimlane-row
{
	margin-top: 15px;
}

.part-breaker
{
	height:auto;
	background:#1F262D;
	color:#fefefe;
	padding:15px;
}

#navbar
{
	background-color: #f8f8f8;
	color: black;
	border-radius: 0px;
	box-shadow: 
		0 10px 20px -12px rgba(156,39,176,0.35), 
		0 3px 20px 0px rgba(156,39,176, 0.12), 
		0 8px 10px -5px rgba(156,39,176, 0.2);
}

.table-fixed
{
	table-layout: fixed;
}

input[type=checkbox]:checked + .checkbox-material .check {
    background: #9c27b0;
}

.footer
{
	position: absolute; 
	bottom: 0; 
	z-index: 10; 
	text-align: center; 
	width: 100%;
}

.header .header-primary
{
	margin-top: 0; 
	box-shadow: none; 
	margin: 0; 
	border-radius: 3px 3px 0 0;
}

.modal-body
{
	margin-top: 0; 
	padding-top: 0;
}